# .gitignore

*.o
*.a
*.d

*.axf
*.hex
*.bin

#Cubemx
*.mxproject
*.scratch

#EWARM
*.ewd
*.ewt
*.dep
settings/
Exe/
Obj/
List/

#Drivers/CMSIS
DSP_Lib/
RTOS/

#MDK-ARM
RTE/
*Configuration/
DebugConfig/
*.uvguix.*
*.uvoptx
*.lst

#SW4STM32
.metadata/
RemoteSystemsTempFiles/

_si/
.vscode/
build/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
